@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin,latin-ext);

* { margin: 0; padding: 0; }

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #444;
    }

a { text-decoration: none; transition: color 0.2s; }

.content {
    width: 500px;
    margin: 0 auto;
    }

.menu {
    font-size: 13px;
    margin-top: 20px;
    }
    .menu ul {
        list-style: none;
        }
        .menu ul li {
            display: inline;
            margin-right: 25px;
            padding-bottom: 5px;
            }
            .menu ul li a {
                color: #888;
                }
            .menu ul li a:hover {
                color: #bbb;
                }
            .menu ul li.selected a {
                color: #00b290;
                }
        .menu ul li.selected {
            border-bottom: #666 7px solid;
            }

.header {
    background-color: #949696;
    color: #fff;
    padding-top: 25px;
    }
    .header h1 {
        font-weight: 300;
        font-size: 45px;
        line-height: 75px;
        }

.main {
    margin-top: 15px;
    }
    .main h2 {
        font-weight: normal;
        font-size: 25px;
        line-height: 40px;
        color: #888;
        }
        .main h2 a {
            color: #444;
            }
        .main h2 a:hover {
            color: #888;
            }

    .meta {
        font-size: 11px;
        text-transform: uppercase;
        color: #bbb;
        margin: 0 0 5px 0;
        letter-spacing: 1px;
        }
        .meta span {
            margin-right: 25px;
            }

.post {
    margin-bottom: 25px;
    }
    .post p {
        text-indent: 50px;
        line-height: 21px;
        text-align: justify;
        }
        .post p:first-child {
            text-indent: 0;
            }
        .post p img {
            margin-left: -50px;
            vertical-align: text-bottom;
            }
        .post p sup {
            font-size: 12px;
            line-height: 15px;
            color: #bbb;
            }
    .post h4 {
        font-size: 15px;
        line-height: 25px;
        font-weight: normal;
        text-indent: 50px;
        color: #00b290;
        margin-top: 10px;
        margin-bottom: 5px;
        }
    .post a {
        color: #00b290;
        border-bottom: #00b290 1px solid
        }
    .post a:hover {
        color: #bbb;
        }

.pagination {
    margin-top: 10px;
    margin-bottom: 25px;
    overflow: hidden;
    }

.pagination .pages {
    list-style: none;
    font-size: 11px;
    letter-spacing: 1px;
    }
    .pagination .pages li {
        display: inline;
        }
        .pagination .pages li a {
            background-color: #bbb;
            display: block;
            float: left;
            color: #fff;
            padding: 0 10px;
            margin-right: 1px;
            transition: background-color 0.1s;
            }
            .pagination .pages li a:hover {
                background-color: #888;
                }
        .current-page {
            color: #00b290;
            display: block;
            float: left;
            padding: 0 10px;
            margin-right: 1px;
            }

.category {
    background-color: #00b290;
    color: #fff;
    float: left;
    padding: 0 10px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    }

.related {
    clear: left;
    padding-top: 25px;
    }

.pagination .previous,
.pagination .next {
    color: #fff;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    }
    .pagination .previous a,
    .pagination .next a {
        margin-right: 1px;
        background-color: #00b290;
        padding: 0 10px;
        float: left;
        display: block;
        color: #fff;
        transition: background-color 0.1s;
        }
        .pagination .previous a:hover,
        .pagination .next a:hover {
            background-color: #888;
            }

.pagination .disabled {
    display: none;
    }
