Options All -Indexes

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

<IfModule mod_mime.c>
    AddType application/font-woff .woff
    AddType image/svg+xml .svg
</IfModule>

<FilesMatch "\.(html|js|css|xml|svg)$">
SetOutputFilter DEFLATE
</FilesMatch>

<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|svg|woff)$">
Header set Expires "access plus 1 month"
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

<FilesMatch "\.(html|htm|xml)$">
Header set Cache-Control "max-age=360, private, proxy-revalidate"
</FilesMatch>

redirect 301 /amatl /work
redirect 301 /bluvision /spaceman
redirect 301 /downloads /work
redirect 301 /projects /work
redirect 301 /gallery /photo
redirect 301 /page /archive
redirect 301 /bucharest /about
redirect 301 /test/index.php /spaceman/
redirect 301 /test /spaceman
redirect 301 /page/themes /journalist
redirect 301 /page/changelogs /journalist
redirect 301 /page/emoticons /work
redirect 301 /page/desktops /photo
redirect 301 /page/photography /photo
redirect 301 /page/work /work
redirect 301 /page/about /about
redirect 301 /page/contact /about
redirect 301 /rss/ /rss.xml
redirect 301 /start/ http://sublevel.net/
redirect 301 /wish/ http://sublevel.net/
redirect 301 /dash/ http://sublevel.net/
redirect 301 /links/ http://sublevel.net/
redirect 301 /write/ http://sublevel.net/
redirect 301 /anatomie/pagina/organism/ http://omenesc.ro/

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !\.[^./]+$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ /$1/ [R=301,L]

RedirectMatch 301 /anatomie/pagina/(.*)/ http://omenesc.ro/$1.html
RedirectMatch 301 /anatomie/(.*)$ http://omenesc.ro/$1
RedirectMatch 301 /posts/(.*)$ /archive/$1
RedirectMatch 301 /article/(.*)$ /archive/$1
RedirectMatch 301 /archive/(.*)/ /archive/$1.html

