Options All -Indexes

ErrorDocument 403 /403.html
ErrorDocument 404 /404.html

<IfModule mod_mime.c>
    AddType application/font-woff .woff
    AddType image/svg+xml .svg
</IfModule>

<FilesMatch "\.(html|js|css|xml|svg)$">
SetOutputFilter DEFLATE
</FilesMatch>

<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|svg|woff)$">
Header set Expires "access plus 1 month"
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>

<FilesMatch "\.(html|htm|xml)$">
Header set Cache-Control "max-age=360, private, proxy-revalidate"
</FilesMatch>

redirect 301 /test/index.php /journalist/
redirect 301 /page/themes /journalist
redirect 301 /page/emoticons /work
redirect 301 /page/desktops /photo
redirect 301 /page/work /work
redirect 301 /page/about /about
redirect 301 /rss/ /rss.xml
redirect 301 /anatomie/pagina/organism/ http://omenesc.ro/

RedirectMatch 301 /anatomie/pagina/(.*)/ http://omenesc.ro/$1.html
RedirectMatch 301 /anatomie/(.*) http://omenesc.ro/$1
