---
layout: default
title: Lucian Marin
subtitle: Recently Marked
permalink: /archive/
section: archive
---

<div class="entry archive">
    <ol>
        <li>
            <a href="http://markdawn.com/post/3/">
                Speed Up Your Web Development <i><b>september</b> 2013</i>
            </a>
        </li>
        <li>
            <a href="http://markdawn.com/post/1/">
                Why did I create Markdawn? <i><b>september</b> 2013</i>
            </a>
        </li>
    </ol>
</div>

<div class="header">
    <h1 class="title">
        <span>archived</span>
    </h1>
</div>

<div class="entry archive">
    <ol>
        {% for post in site.posts %}
            {% include item.html %}
        {% endfor %}
    </ol>
</div>