---
layout:     default
title:      Lucian Marin
permalink:  /archive/
section:    archive
---

<ul class="pick">
    <li class="selected"><a href="/archive/">Ye<br>ar<br>ly</a></li>
    <li><a href="/archive/topics.html">To<br>pi<br>cs</a></li>
</ul>

{% for post in site.posts %}
    {% capture month %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nmonth %}{{ post.next.date | date: '%Y' }}{% endcapture %}
        {% if month != nmonth %}
            {% if forloop.index != 1 %}</ul>{% endif %}
            <h1 class="title">{{ post.date | date: '%Y' }}</h1>
            <ul class="archive year">
        {% endif %}
    {% include item.html %}
{% endfor %}
