---
layout: default
title: Lucian Marin
subtitle: Hope for the Future
permalink: /category/hope-for-the-future/
section: category
category: hope-for-the-future
---

<div class="archive">
    <ol>
    {% for post in site.posts %}
        {% if post.category == "hope-for-the-future" %}
            <li>
                <a href="{{ post.url }}">
                    <span class="title">
                        {{ post.title }}
                    </span>
                    <span class="date">
                        <b>{{ post.date | date: "%b" }}</b>
                        {{ post.date | date: "%Y" }}
                    </span>
                </a>
            </li>
        {% endif %}
    {% endfor %}
    </ol>
</div>