---
layout:     default
title:      Lucian Marin
section:    data
permalink:  /data/
---

{% assign links = site.data.links | sort: 'd' %}

<h1 class="title">Data <i>{{ links.size }} links</i></h1>

<dl>
{% for item in links reversed %}
    <dt>
        <a href="http://{{ item.u }}" rel="nofollow">{{ item.t }}</a>
    </dt>
    {% if item.q %}
        <dd><blockquote>{{ item.q }}</blockquote></dd>
    {% endif %}
    {% if item.n %}
        <dd>{{ item.n }}</dd>
    {% endif %}
{% endfor %}
</dl>