<li>
    <b>
        {% if page.section == "topics" %}
            {{ post.date | date: "%Y" }}
        {% else %}
            {{ post.date | date: "%B %e" }}
        {% endif %}
    </b>
    <a href="{{ post.url }}">{{ post.title }}</a>
    {% if post.images == 1 %}
        <i>&bull;</i>
    {% elsif post.images == 2 %}
        <i>&bull; &bull;</i>
    {% elsif post.images > 2 %}
        <i>&bull; &bull; &bull;</i>
    {% endif %}
    {% if post.syntax %}
        <i>‹ ›</i>
    {% endif %}
</li>