{% comment %}
    mail        &#xe810
    rss         &#xe80f
    github      &#xe801
    vimeo       &#xe80d
    twitter     &#xe800
    facebook    &#xe806
    gplus       &#xe805
    pinterest   &#xe804
    tumblr      &#xe80e
    linkedin    &#xe802
    dribbble    &#xe803
    instagram   &#xe808
    dropbox     &#xe807
    skype       &#xe809
    paypal      &#xe80c
    soundcloud  &#xe80b
    behance     &#xe80a
{% endcomment %}

<div class="social">
    <a
        href="http://lucianmarin.com/rss.xml"
        title="RSS Feed" class="typo rss">
    </a>
    <a
        href="http://twitter.com/lucianmarin"
        title="Twitter" class="typo twitter" rel="nofollow">
    </a>
    <a
        href="http://lucianmarin.tumblr.com/"
        title="Tumblr" class="typo tumblr" rel="nofollow">
    </a>
    <a
        href="http://instagram.com/lucianmarin"
        title="Instagram" class="typo instagram" rel="nofollow">
    </a>
    <a
        href="http://github.com/lucianmarin"
        title="GitHub" class="typo github" rel="nofollow">
    </a>
    <a
        href="http://dribbble.com/lucianmarin"
        title="Dribbble" class="typo dribbble" rel="nofollow">
    </a>
    <a
        href="http://behance.com/lucianmarin"
        title="Behance" class="typo behance" rel="nofollow">        
    </a>
</div>

{% comment %}
    <a href="/" class="sign">
        <span class="plus"><b>Lucian Marin</b></span>
    </a>
{% endcomment %}
