<svg id="icon" width="104px" height="24px" viewBox="0 0 104 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="by" transform="translate(0.000000, 4.000000)" fill="none" stroke-width="2">
        <circle id="circle" stroke="#BBBBBB" cx="10" cy="10" r="9"></circle>
    </g>
    <g id="stand" transform="translate(40.000000, 0.000000)" fill="none" stroke-width="2">
        <circle id="circle" stroke="#888888" cx="10" cy="14" r="9"></circle>
        <rect id="vertical" stroke="#EEEEEE" fill="#EEEEEE" x="8" y="0" width="4" height="10"></rect>
    </g>
    <g id="stand-by" transform="translate(80.000000, 0.000000)" fill="none" stroke-width="2">
        <circle id="circle" stroke="#000000" cx="10" cy="14" r="9"></circle>
        <rect id="vertical" stroke="#EEEEEE" fill="#000000" x="8" y="0" width="4" height="10"></rect>
    </g>
</svg>