@font-face {
  font-family: "Lato";
  src: url("lato/light.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Lato";
  src: url("lato/regular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Lato";
  src: url("lato/bold.woff") format("woff");
  font-style: normal;
  font-weight: bold; }
@font-face {
  font-family: "Share";
  src: url("sharetech/regular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }
* {
  margin: 0;
  padding: 0; }

body {
  font: 15px/20px "Lato", "Helvetica Neue", "Roboto", "Segoe UI", "Open Sans", "Ubuntu", Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: black;
  text-rendering: optimizeLegibility; }

a {
  color: black;
  text-decoration: none;
  transition: color 0.2s; }
  a img {
    border: 0 none; }

ul {
  list-style: none; }

ol {
  list-style-position: inside; }

sup {
  line-height: 0; }

b, i, u {
  font-style: normal;
  font-weight: normal;
  text-decoration: none; }

img {
  display: block; }

h1 {
  font-weight: 300;
  font-size: 40px;
  line-height: 70px;
  letter-spacing: -1px;
  color: gray;
  cursor: default; }
  h1 i {
    font-weight: 300;
    color: white; }

h2 {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  padding: 5px 0;
  letter-spacing: -1px;
  margin: 15px 0; }

h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px; }
  h3 sup {
    font-size: 13px;
    color: silver; }
  h3 a {
    color: black; }
    h3 a:hover {
      color: gray; }

hr {
  margin: 5px 0;
  border: 0 none;
  border-bottom: white 1px solid; }

.content {
  width: 576px;
  margin: 0 auto;
  position: relative; }

.footer {
  font-size: 13px;
  margin: 30px 0;
  text-align: right;
  color: gray; }
  .footer a:hover {
    color: #205080; }
  .footer hr {
    margin-left: 50%; }

.mode {
  overflow: hidden;
  border-bottom: white 1px solid; }
  .mode ul {
    display: block; }
    .mode ul li {
      display: block;
      float: left;
      margin-right: 20px;
      padding: 10px 0 6px 0; }
      .mode ul li a {
        color: gray; }
      .mode ul li.selected {
        border-bottom: white 4px solid; }
      .mode ul li.selected a {
        color: silver; }

.menu {
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: -5px;
  line-height: 40px;
  overflow: hidden; }
  .menu ul {
    display: block; }
    .menu ul li {
      display: block;
      float: left;
      margin-right: 16px;
      margin-bottom: -5px;
      border-bottom: white 5px solid; }
      .menu ul li:last-child {
        margin-right: 0; }
      .menu ul li i {
        color: #30c0c0; }
      .menu ul li a {
        padding: 10px 0;
        color: black; }
      .menu ul li.selected {
        border-bottom: #f0f0f0 5px solid;
        border-radius: 5px; }
      .menu ul li.selected a {
        color: gray; }

.subtitle {
  background-color: white;
  padding-top: 30px; }

.browse {
  font-size: 13px;
  position: absolute;
  top: -50px;
  right: 0; }
  .browse a {
    margin-left: 20px;
    color: silver; }

.list li {
  margin: 20px 0; }
.list .post p {
  margin: 5px 0; }
  .list .post p b, .list .post p i {
    display: block;
    float: left;
    width: 28px;
    color: gray; }
  .list .post p i {
    text-align: right;
    margin-right: 16px;
    color: silver; }
  .list .post p u {
    color: silver;
    cursor: help; }

.post small {
  font-size: 13px;
  color: gray; }
.post a {
  color: #30c0c0; }
  .post a:hover {
    color: #205080; }
.post p, .post ul, .post ol, .post .highlight {
  margin: 20px 0; }
.post p strong img {
  width: 100%;
  height: auto; }
.post hr {
  margin: 10px 0;
  margin-right: 50%; }
.post li {
  padding: 5px 0;
  padding-left: 10%;
  border-bottom: white 1px solid; }
  .post li:first-child {
    border-top: white 1px solid; }
.post blockquote {
  margin-left: 40px;
  color: gray; }
.post pre {
  white-space: pre-wrap; }
.post code {
  font: 12px/20px "Share", "Menlo", "Consolas", "DejaVu Sans Mono", "Droid Sans Mono", "Monospace", "Lucida Console", monospace;
  color: gray; }
.post .quote {
  color: gray; }
  .post .quote img {
    float: left;
    padding: 2px;
    padding-left: 0;
    padding-right: 8px; }
.post .highlight {
  background-color: white;
  padding: 5px 15px;
  border-radius: 3px;
  border: #d0d0d0 1px solid; }

.grid {
  overflow: hidden; }
  .grid img {
    width: 33.333%;
    height: auto;
    float: left; }

.gridless {
  overflow: hidden; }
  .gridless img {
    width: 20%;
    height: auto;
    float: left; }

.details {
  font-size: 13px;
  margin: 20px 0; }
  .details p {
    margin: 5px 0; }
  .details b {
    width: 75px;
    float: left;
    display: block;
    color: gray; }
  .details a {
    color: #30c0c0; }
    .details a:hover {
      color: #205080; }

.meta {
  font-size: 13px;
  color: gray; }
  .meta .topic {
    text-transform: capitalize; }
  .meta .caption {
    margin: 20px 0; }

.buttons {
  height: 32px;
  overflow: hidden; }
  .buttons li {
    display: block;
    float: left;
    margin-right: 20px; }
  .buttons a {
    background-color: white;
    display: block;
    line-height: 30px;
    float: left;
    color: gray;
    padding: 0 10px;
    border: silver 1px solid;
    text-decoration: none;
    border-radius: 4px;
    transition: border-color 0.2s, color 0.2s; }
    .buttons a:hover {
      border-color: gray;
      color: black; }
    .buttons a sup {
      font-size: 11px;
      color: silver; }

.handle:after {
  content: " at ";
  color: silver; }

.domain:after {
  content: " dot ";
  color: silver; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media (max-width: 640px) {
  .content {
    width: 90%; } }
