@font-face {
  font-family: "Vegur";
  src: url("vegur/regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Vegur";
  src: url("vegur/bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Vegur";
  src: url("vegur/light.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Share Tech Mono";
  src: url("sharetech/mono.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

body {
  font: 15px/20px "Vegur", sans-serif; }

a {
  color: black;
  text-decoration: none; }
  a img {
    border: 0 none; }

ul {
  list-style: none; }

b, i, u {
  font-style: normal;
  font-weight: normal;
  text-decoration: none; }

img {
  display: block; }

.content {
  width: 640px;
  margin: 0 auto; }

.logo {
  background-color: #888888;
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  position: relative; }
  .logo:before, .logo:after {
    background-color: white;
    display: block;
    position: absolute;
    content: " "; }
  .logo:before {
    width: 4px;
    height: 16px;
    top: 8px;
    left: 14px; }
  .logo:after {
    width: 16px;
    height: 4px;
    top: 14px;
    left: 8px; }

.menu {
  padding: 24px 0;
  height: 32px;
  line-height: 32px; }
  .menu ul, .menu li, .menu a {
    display: block;
    float: left; }
  .menu li {
    margin-left: 8px; }
    .menu li:first-child {
      margin-left: 12px; }
    .menu li a {
      padding: 0 4px;
      color: #444444; }
    .menu li.selected a {
      color: #bbbbbb; }

.title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px; }
  .title i {
    font-weight: 200;
    color: #bbbbbb; }

.me {
  margin-top: -60px;
  float: left; }

.design, .build {
  margin-bottom: 20px; }
  .design .icon, .build .icon {
    float: left;
    margin-top: 16px; }

.frame {
  margin-top: 20px;
  padding-top: 20px;
  border-top: white 2px solid; }

.quote {
  margin: 40px 0; }
  .quote .text {
    margin-left: 140px;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    padding: 20px 0; }
  .quote .author {
    margin-top: 22px;
    float: left;
    color: #bbbbbb; }

.archive li {
  margin: 10px 0; }
  .archive li a {
    transition: color 0.2s; }
    .archive li a:hover {
      color: #888888; }
  .archive li b {
    display: block;
    width: 140px;
    color: #bbbbbb;
    float: left; }
  .archive li i {
    color: #bbbbbb;
    padding-left: 8px; }
  .archive li u {
    color: #bbbbbb;
    padding: 0 4px; }
.archive.year {
  margin-bottom: 20px; }
.archive.space {
  margin-bottom: 30px; }

.share {
  padding-top: 5px;
  height: 20px;
  overflow: hidden; }

.buttons {
  height: 50px;
  margin-left: 140px; }
  .buttons li {
    display: block;
    float: left;
    margin-right: 20px; }
  .buttons a {
    display: block;
    line-height: 30px;
    float: left;
    color: #888888;
    padding: 0 10px;
    border: #bbbbbb 1px solid;
    text-decoration: none;
    border-radius: 2px;
    transition: border-color 0.2s, color 0.2s; }
    .buttons a:hover {
      border-color: #888888;
      color: black; }

.pick {
  font: 12px/14px "Share Tech Mono", monospace;
  text-transform: uppercase;
  float: right;
  margin-top: -20px;
  width: 60px; }
  .pick li {
    display: block;
    float: left;
    width: 30px;
    text-align: center; }
    .pick li a {
      display: block;
      width: 30px;
      padding: 9px 0;
      color: #888888;
      transition: background-color 0.2s;
      background-color: whitesmoke; }
    .pick li.selected a {
      background-color: white; }

.handle:after {
  content: " at ";
  color: #bbbbbb; }

.domain:after {
  content: " dot ";
  color: #bbbbbb; }

.post {
  margin-left: 140px; }
  .post h4 {
    margin-top: 20px; }
  .post p, .post ul, .post ol, .post .highlight {
    margin: 10px 0; }
  .post ul {
    list-style: square; }
  .post ul, .post ol {
    margin-left: 40px; }
    .post ul li, .post ol li {
      line-height: 24px; }
  .post a {
    color: #888888;
    text-decoration: underline; }
  .post p:last-child > em:first-child {
    color: #888888; }
  .post blockquote {
    margin-left: 40px;
    color: #888888; }
  .post pre {
    white-space: pre-wrap; }
  .post code {
    font-family: "Share Tech Mono", monospace;
    font-size: 13px;
    line-height: 18px;
    color: #888888; }
  .post.single {
    border-bottom: white 2px solid;
    padding-bottom: 20px;
    margin-bottom: 30px; }
  .post strong > img {
    margin-left: -140px;
    width: 128%;
    height: auto; }
  .post .caption {
    margin: 20px 0; }
    .post .caption:last-child {
      margin-bottom: 0; }

.main {
  background-color: #eeeeee;
  padding: 20px 0; }

.meta {
  overflow: hidden;
  color: #888888;
  font-size: 14px;
  margin-bottom: 20px; }
  .meta .time,
  .meta .topic {
    width: 250px;
    height: 40px;
    float: left;
    text-transform: lowercase; }
  .meta .time {
    margin-left: 140px; }
  .meta a {
    color: #888888; }
  .meta h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: #bbbbbb; }

dl {
  margin-left: 140px; }
  dl dt {
    font-weight: bold;
    margin-top: 40px; }
    dl dt:first-child {
      margin-top: 0; }
    dl dt a {
      border-bottom: #bbbbbb 1px solid;
      transition: border-color 0.2s; }
      dl dt a:hover {
        border-bottom: black 1px solid; }
  dl dd {
    margin-top: 10px; }
    dl dd blockquote {
      margin-left: 40px;
      color: #888888; }

.grid {
  width: 720px;
  margin-left: -40px;
  overflow: hidden;
  margin-bottom: 20px; }
  .grid img {
    float: left; }
  .grid .classic {
    display: none; }

.image {
  float: left;
  width: 240px;
  height: 180px;
  background: center center;
  background-size: 240px 180px;
  -webkit-transition: background-size 0.2s;
  transition: background-size 0.2s; }
  .image:hover {
    background-size: 280px 210px; }

.peculiar {
  margin-left: -140px;
  margin-top: 10px; }

.footer {
  padding: 20px 0;
  color: #bbbbbb;
  position: relative; }
  .footer p {
    margin-left: 140px; }
  .footer img {
    position: absolute;
    right: 0;
    bottom: 0; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media (max-width: 720px) {
  .content {
    width: 85%; }

  .icon,
  .quote .author,
  .archive li b,
  .me,
  .label {
    display: none; }

  .post,
  .quote .text,
  .peculiar,
  .footer p,
  .meta .time,
  dl,
  .buttons {
    margin-left: 0; }

  .meta .time,
  .meta .topic {
    width: 50%; }

  .post p img,
  .post strong > img {
    margin-left: 0;
    width: 100%;
    height: auto; }

  .grid {
    width: 100%;
    margin-left: 0; }
    .grid img {
      width: 33.33%;
      height: auto; }
    .grid .classic {
      display: block; }
    .grid .future {
      display: none; } }
