@font-face
    font-family: 'Vegur'
    src: url('font/vegur-bold-webfont.eot')
    src: url('font/vegur-bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/vegur-bold-webfont.woff') format('woff'), url('font/vegur-bold-webfont.ttf') format('truetype')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'Vegur'
    src: url('font/vegur-light-webfont.eot')
    src: url('font/vegur-light-webfont.eot?#iefix') format('embedded-opentype'), url('font/vegur-light-webfont.woff') format('woff'), url('font/vegur-light-webfont.ttf') format('truetype')
    font-weight: 200
    font-style: normal

@font-face
    font-family: 'Vegur'
    src: url('font/vegur-regular-webfont.eot')
    src: url('font/vegur-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/vegur-regular-webfont.woff') format('woff'), url('font/vegur-regular-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

$black: #000
$metal: #444
$grey: #888
$silver: #bbb
$snow: #eee
$white: #fff

$d: 0.2s

*
    margin: 0
    padding: 0

body
    font-family: "Vegur", Helvetica, Arial, sans-serif
    font-size: 15px
    line-height: 20px
    text-rendering: optimizeLegibility

a
    color: $black
    text-decoration: none

ul
    list-style: none

b, i
    font-style: normal
    font-weight: normal

img
    display: block

.content
    width: 640px
    margin: 0 auto

.menu
    padding: 24px 0
    height: 32px
    line-height: 32px
    .logo
        display: block
        width: 32px
        height: 32px
        float: left
    ul
        float: left
        li
            margin-left: 16px
            display: inline
            a
                color: $metal
            &.selected a
                color: $silver

.title
    font-size: 30px
    line-height: 40px
    margin-bottom: 20px
    i
        font-weight: 200
        color: $silver

.me
    margin-top: -60px
    float: left

.design
    margin-bottom: 20px

.design, .build
    .icon
        float: left
        margin-top: 16px

.quote
    margin: 40px 0
    .text
        margin-left: 140px
        border-top: $white 2px solid
        border-bottom: $white 2px solid
        padding: 20px 0
    .author
        margin-top: 22px
        float: left
        color: $silver

.archive
    li
        margin: 10px 0
        a
            transition: color $d
            &:hover
                color: $grey
        b
            display: block
            width: 140px
            color: $silver
            float: left
    &.year
        margin-bottom: 20px

.handle:after
    content: "at"
    padding: 0 5px
    color: $silver

.domain:after
    content: "dot"
    padding: 0 5px
    color: $silver

.post
    margin-left: 140px
    p, ul, ol
        margin: 10px 0
    ul, ol
        li
            line-height: 24px
    a
        color: $grey
        text-decoration: underline
    pre
        font-size: 12px
    &.single
        border-bottom: $white 2px solid
        padding-bottom: 20px
        margin-bottom: 30px
    .clear
        margin-left: -140px
        img
            width: 100%
            height: auto
    .caption
        margin: 20px 0
        &:last-child
            margin-bottom: 0

.main
    background-color: $snow
    padding: 20px 0

.meta
    overflow: hidden
    color: $grey
    font-size: 14px
    margin-bottom: 20px
    .icon
        width: 140px
        height: 40px
        margin-top: 0
        float: left
    .time,
    .topic
        height: 40px
        float: left
        width: 33%
        text-transform: lowercase
    a
        color: $grey
    h4
        font-weight: normal
        text-transform: uppercase
        font-size: 12px
        color: $silver

.grid
    width: 720px
    margin-left: -40px
    overflow: hidden
    margin-bottom: 20px
    img
        float: left

.peculiar
    margin-left: -140px
    margin-top: 10px

.footer
    padding: 20px 0
    color: $silver
    p
        margin-left: 140px

html
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

@media (max-width: 700px)
    .content
        width: 85%
    .icon,
    .quote .author,
    .archive li b,
    .me,
    .label
        display: none
    .post,
    .quote .text,
    .post .clear,
    .peculiar,
    .footer p
        margin-left: 0
    .meta .time,
    .meta .topic
        width: 50%
    .grid
        width: 100%
        margin-left: 0
        img
            width: 33.33%
            height: auto
