@font-face {
  font-family: "Vegur";
  src: url("font/vegur-bold.eot");
  src: url("font/vegur-bold.eot?#iefix") format("embedded-opentype"), url("font/vegur-bold.woff") format("woff"), url("font/vegur-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "Vegur";
  src: url("font/vegur-light.eot");
  src: url("font/vegur-light.eot?#iefix") format("embedded-opentype"), url("font/vegur-light.woff") format("woff"), url("font/vegur-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Vegur";
  src: url("font/vegur-regular.eot");
  src: url("font/vegur-regular.eot?#iefix") format("embedded-opentype"), url("font/vegur-regular.woff") format("woff"), url("font/vegur-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Vegur", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-rendering: optimizeLegibility; }

a {
  color: black;
  text-decoration: none; }
  a img {
    border: 0 none; }

ul {
  list-style: none; }

b, i {
  font-style: normal;
  font-weight: normal; }

img {
  display: block; }

.content {
  width: 640px;
  margin: 0 auto; }

.menu {
  padding: 24px 0;
  height: 32px;
  line-height: 32px; }
  .menu .logo {
    background-color: #888888;
    float: left;
    display: block;
    width: 32px;
    height: 32px;
    position: relative; }
    .menu .logo:before, .menu .logo:after {
      background-color: white;
      display: block;
      position: absolute;
      content: " "; }
    .menu .logo:before {
      width: 4px;
      height: 16px;
      top: 8px;
      left: 14px; }
    .menu .logo:after {
      width: 16px;
      height: 4px;
      top: 14px;
      left: 8px; }
  .menu ul {
    float: left; }
    .menu ul li {
      margin-left: 16px;
      display: inline; }
      .menu ul li a {
        color: #444444; }
      .menu ul li.selected a {
        color: #bbbbbb; }

.title {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 20px; }
  .title i {
    font-weight: 200;
    color: #bbbbbb; }

.me {
  margin-top: -60px;
  float: left; }

.design {
  margin-bottom: 20px; }

.design .icon, .build .icon {
  float: left;
  margin-top: 16px; }

.quote {
  margin: 40px 0; }
  .quote .text {
    margin-left: 140px;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    padding: 20px 0; }
  .quote .author {
    margin-top: 22px;
    float: left;
    color: #bbbbbb; }

.archive li {
  margin: 10px 0; }
  .archive li a {
    transition: color 0.2s; }
    .archive li a:hover {
      color: #888888; }
  .archive li b {
    display: block;
    width: 140px;
    color: #bbbbbb;
    float: left; }
  .archive li i {
    color: #bbbbbb;
    padding-left: 8px; }
.archive.year {
  margin-bottom: 20px; }

.handle:after {
  content: " at ";
  color: #bbbbbb; }

.domain:after {
  content: " dot ";
  color: #bbbbbb; }

.post {
  margin-left: 140px; }
  .post p, .post ul, .post ol {
    margin: 10px 0; }
  .post ul {
    list-style: square; }
  .post ul li, .post ol li {
    line-height: 24px; }
  .post a {
    color: #888888;
    text-decoration: underline; }
  .post p:last-child > em:first-child {
    color: #888888; }
  .post blockquote {
    margin-left: 40px;
    color: #888888; }
  .post pre {
    font-size: 12px; }
  .post.single {
    border-bottom: white 2px solid;
    padding-bottom: 20px;
    margin-bottom: 30px; }
  .post strong > img {
    margin-left: -140px;
    width: 128%;
    height: auto; }
  .post .clear {
    margin-left: -140px; }
    .post .clear img {
      width: 100%;
      height: auto; }
  .post .caption {
    margin: 20px 0; }
    .post .caption:last-child {
      margin-bottom: 0; }

.main {
  background-color: #eeeeee;
  padding: 20px 0; }

.meta {
  overflow: hidden;
  color: #888888;
  font-size: 14px;
  margin-bottom: 20px; }
  .meta .time,
  .meta .topic {
    width: 250px;
    height: 40px;
    float: left;
    text-transform: lowercase; }
  .meta .time {
    margin-left: 140px; }
  .meta a {
    color: #888888; }
  .meta h4 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: #bbbbbb; }

.grid {
  width: 720px;
  margin-left: -40px;
  overflow: hidden;
  margin-bottom: 20px; }
  .grid img {
    float: left; }

.peculiar {
  margin-left: -140px;
  margin-top: 10px; }

.footer {
  padding: 20px 0;
  color: #bbbbbb; }
  .footer p {
    margin-left: 140px; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media (max-width: 720px) {
  .content {
    width: 85%; }

  .icon,
  .quote .author,
  .archive li b,
  .me,
  .label {
    display: none; }

  .post,
  .quote .text,
  .post .clear,
  .peculiar,
  .footer p,
  .meta .time {
    margin-left: 0; }

  .meta .time,
  .meta .topic {
    width: 50%; }

  .post p img,
  .post strong > img {
    margin-left: 0;
    width: 100%;
    height: auto; }

  .grid {
    width: 100%;
    margin-left: 0; }
    .grid img {
      width: 33.33%;
      height: auto; } }
