@font-face
    font-family: "Lato"
    src: url('lato/light.woff') format('woff')
    font-style: normal
    font-weight: 300

@font-face
    font-family: "Lato"
    src: url('lato/regular.woff') format('woff')
    font-style: normal
    font-weight: normal

@font-face
    font-family: "Lato"
    src: url('lato/bold.woff') format('woff')
    font-style: normal
    font-weight: bold

@font-face
    font-family: "Share"
    src: url('sharetech/regular.woff') format('woff')
    font-style: normal
    font-weight: normal

@mixin type
    font: 15px/20px "Lato", "Helvetica Neue", "Roboto", "Segoe UI", "Open Sans", "Ubuntu", Helvetica, Arial, sans-serif

@mixin mono
    font: 12px/20px "Share", "Menlo", "Consolas", "DejaVu Sans Mono", "Droid Sans Mono", "Monospace", "Lucida Console", monospace

@mixin small
    font-size: 13px

@mixin caps
    font-size: 11px
    text-transform: uppercase

$text: #000000
$back: #f0f0f0

$dark: #404040 // 25
$gray: #808080 // 50
$silver: #c0c0c0 // 75

$highlight: #d0d0d0

$line: #fff
$link: #30c0c0
$over: #205080

$d: 0.2s

*
    margin: 0
    padding: 0

body
    @include type
    background-color: $back
    color: $text
    text-rendering: optimizeLegibility

a
    color: $text
    text-decoration: none
    transition: color $d
    img
        border: 0 none

ul
    list-style: none

ol
    list-style-position: inside

sup
    line-height: 0

b, i, u
    font-style: normal
    font-weight: normal
    text-decoration: none

img
    display: block

h1
    font-weight: 300
    font-size: 40px
    line-height: 70px
    letter-spacing: -1px
    color: $gray

h2
    font-weight: normal
    font-size: 25px
    line-height: 30px
    padding: 5px 0
    letter-spacing: -1px
    margin: 15px 0

h3
    font-weight: normal
    font-size: 20px
    line-height: 30px
    sup
        @include small
        padding-left: 2px
        color: $silver
    a
        color: $text
        &:hover
            color: $gray

hr
    margin: 5px 0
    border: 0 none
    border-bottom: $line 1px solid

.content
    width: 576px
    width: 570px
    margin: 0 auto
    position: relative

.footer
    @include small
    margin: 30px 0
    text-align: right
    color: $gray
    a:hover
        color: $over
    hr
        margin-left: 50%

.mode
    overflow: hidden
    border-bottom: $line 1px solid
    ul
        display: block
        li
            display: block
            float: left
            margin-right: 20px
            padding: 10px 0 6px 0
            a
                color: $gray
            &.selected
                border-bottom: $line 4px solid
            &.selected a
                color: $silver

.menu
    padding-top: 20px
    padding-bottom: 5px
    margin-bottom: -5px
    line-height: 40px
    overflow: hidden
    ul
        display: block
        li
            display: block
            float: left
            margin-right: 15px
            margin-bottom: -5px
            border-bottom: $line 5px solid
            &:last-child
                margin-right: 0
            i
                color: $link
            a
                color: $text
            &.selected
                border-bottom: $back 5px solid
            &.selected a
                color: $gray

.subtitle
    background-color: $line
    padding-top: 30px

.browse
    @include small
    position: absolute
    top: -50px
    right: 0
    a
        margin-left: 20px
        color: $silver

.list
    li
        margin: 20px 0
    .post
        p
            margin: 5px 0
            b, i
                display: block
                float: left
                width: 28px
                color: $gray
            i
                text-align: right
                margin-right: 16px
                color: $silver
            u
                color: $silver
                cursor: help

.post
    small
        @include small
        color: $gray
    a
        color: $link
        &:hover
            color: $over
    p, ul, ol, .highlight
        margin: 20px 0
    p strong img
        width: 100%
        height: auto
    hr
        margin: 10px 0
        margin-right: 50%
    li
        padding: 5px 0
        padding-left: 10%
        border-bottom: $line 1px solid
        &:first-child
            border-top: $line 1px solid
    blockquote
        margin-left: 40px
        color: $gray
    pre
        white-space: pre-wrap
    code
        @include mono
        color: $gray
    .quote
        color: $gray
        img
            float: left
            padding: 2px
            padding-left: 0
            padding-right: 8px
    .highlight
        background-color: $line
        padding: 5px 15px
        border-radius: 3px
        border: $highlight 1px solid

.grid
    overflow: hidden
    img
        width: 33.333%
        height: auto
        float: left
    a
        img
            transition: opacity 0.33s
            opacity: 1
        &:hover img
            opacity: 0.8

.gridless
    overflow: hidden
    img
        width: 20%
        height: auto
        float: left

.details
    @include small
    margin: 20px 0
    p
        margin: 5px 0
    b
        width: 75px
        float: left
        display: block
        color: $gray
    a
        color: $link
        &:hover
            color: $over

.meta
    @include small
    color: $gray
    .topic
        text-transform: capitalize
    .caption
        margin: 20px 0

.buttons
    height: 32px
    overflow: hidden
    li
        display: block
        float: left
        margin-right: 20px
    a
        background-color: $line
        display: block
        line-height: 30px
        float: left
        color: $gray
        padding: 0 10px
        border: $silver 1px solid
        text-decoration: none
        border-radius: 4px
        transition: border-color $d, color $d
        &:hover
            border-color: $gray
            color: $text
        sup
            font-size: 11px
            color: $silver

.handle:after
    content: " at "
    color: $silver

.domain:after
    content: " dot "
    color: $silver

html
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

@media (max-width: 634px)
    .content
        width: 90%