@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic&subset=latin,latin-ext);
* {
  margin: 0;
  padding: 0; }

body {
  background-color: black;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #9ca1a7;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none;
  color: #9dddee;
  transition: color 0.2s; }

h1, h2, h3, h4 {
  font-weight: normal; }

i, b {
  font-style: normal;
  font-weight: normal; }

img {
  display: block; }

#logo {
  width: 40px;
  height: 20px; }

#icon path {
  fill: #9dddee; }

a.typo {
  background: rgba(74, 79, 84, 0.8) url(social.png) no-repeat;
  background-position: 0px 0px;
  background-size: 140px 20px;
  display: block;
  line-height: 20px;
  height: 20px;
  width: 20px;
  float: right;
  margin: 0 1px;
  border: #4a4f54 2px solid;
  border: transparent 2px solid;
  transition: background-color 0.2s, border 0.2s; }
  a.typo:hover {
    border: #9ca1a7 2px solid;
    border: transparent 2px solid;
    background-color: rgba(156, 161, 167, 0.8); }
  a.typo.rss {
    background-position: -120px 0px; }
  a.typo.twitter {
    background-position: -100px 0px; }
  a.typo.tumblr {
    background-position: -80px 0px; }
  a.typo.instagram {
    background-position: -60px 0px; }
  a.typo.github {
    background-position: -40px 0px; }
  a.typo.dribbble {
    background-position: -20px 0px; }

.social {
  width: 154px;
  width: 182px;
  height: 20px;
  margin: 0 auto; }

.content {
  width: 640px;
  margin: 0 auto; }

.menu {
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  margin-top: 25px;
  text-transform: uppercase; }
  .menu .logo {
    display: block;
    float: left; }
  .menu ul {
    margin-left: 20px;
    display: block;
    list-style: none;
    float: left; }
    .menu ul li {
      display: block;
      float: left;
      margin-right: 20px; }
      .menu ul li:last-child {
        margin-right: 0px; }
      .menu ul li a {
        display: block;
        color: #9ca1a7; }
      .menu ul li a:hover {
        color: white; }
      .menu ul li.selected a {
        color: #9dddee; }

.header {
  color: #9ca1a7;
  overflow: hidden; }
  .header h1 {
    font-weight: 200;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    white-space: nowrap;
    text-transform: lowercase;
    border-bottom: #323e48 1px solid;
    display: block;
    width: 304px;
    float: left;
    cursor: default; }
    .header h1 span {
      display: block;
      float: left;
      margin-bottom: -1px;
      border-bottom: #5b6770 1px solid; }

.footer {
  margin-bottom: 25px;
  text-align: center;
  overflow: hidden; }

h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -1px;
  color: white;
  margin-left: 60px; }
  h2 a {
    color: white; }
    h2 a:hover {
      color: #9ca1a7; }
  h2 i {
    float: right;
    font-weight: 300;
    color: #4a4f54;
    margin-right: 60px; }

.meta {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #4a4f54;
  margin: 7px 0 10px 60px;
  letter-spacing: 1px; }
  .meta span {
    margin-right: 25px; }
  .meta a {
    color: #4a4f54; }
    .meta a:hover {
      color: #9ca1a7; }

.archive ol {
  font-size: 15px;
  list-style: none;
  margin: 0 60px; }
  .archive ol li {
    line-height: 30px;
    margin: 0 -15px; }
    .archive ol li a {
      color: white;
      padding: 0 15px;
      display: block; }
      .archive ol li a:hover {
        background-color: rgba(74, 79, 84, 0.8); }
.archive i {
  text-transform: lowercase;
  float: right;
  color: #9dddee; }
  .archive i b {
    margin-right: 10px; }

.entry {
  margin: 25px 0; }
  .entry #icon {
    position: absolute;
    margin-left: 5px; }

.quote {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -1px;
  width: 288px;
  position: relative;
  margin-left: 15px; }
  .quote:before {
    content: '"';
    color: #9dddee;
    display: block;
    position: absolute;
    left: -15px;
    width: 20px;
    height: 24px; }
  .quote p {
    background-color: #9dddee;
    margin-bottom: 1px;
    padding: 0 10px; }
    .quote p:last-child:after {
      margin-left: 10px;
      content: '"'; }

.author {
  color: #9dddee;
  margin-top: 5px;
  margin-left: 30px; }

.post img {
  width: 720px;
  height: auto;
  margin: 10px -100px;
  display: block; }
.post p {
  margin-left: 60px;
  margin-right: 60px;
  text-indent: 30px; }
  .post p:first-child {
    text-indent: 0; }
  .post p sup {
    font-size: 12px;
    line-height: 15px;
    color: #9ca1a7; }
  .post p.caption {
    margin-bottom: 20px;
    text-indent: 0; }
.post ul {
  list-style: square;
  margin-left: 90px; }
.post ol {
  margin-left: 90px; }
.post h4 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.33px;
  font-weight: normal;
  text-indent: 60px;
  color: #9dddee;
  margin: 10px 0; }
.post blockquote {
  margin-left: 20px;
  border-left: #dddddd 1px solid;
  padding-left: 19px;
  margin-top: 10px;
  margin-bottom: 10px; }
.post a {
  text-decoration: underline; }
  .post a:hover {
    color: white; }
.post .contact {
  margin-bottom: 10px; }
.post .info {
  font-style: italic;
  text-indent: 0;
  margin-top: 1px;
  margin-bottom: 1px; }
  .post .info .name:after {
    font-style: italic;
    color: #4a4f54;
    content: " at "; }
  .post .info .domain:after {
    font-style: italic;
    color: #4a4f54;
    content: " dot "; }
  .post .info strong {
    font-weight: normal;
    width: 50px;
    display: block;
    float: left;
    color: #4a4f54;
    text-align: right;
    margin-right: 15px; }

.article img {
  width: 520px;
  height: auto;
  margin: 10px 0;
  display: block; }

.share {
  color: #4a4f54;
  margin: 40px 0;
  padding-left: 30px;
  overflow: hidden;
  font-size: 14px;
  text-transform: uppercase; }
  .share a, .share i {
    text-indent: 0;
    padding: 0 6px; }
  .share a {
    background-color: #9ca1a7;
    color: black;
    text-decoration: none;
    display: block;
    float: left; }
    .share a:hover {
      background-color: #9dddee;
      color: black; }
  .share i {
    background-color: #4a4f54;
    display: block;
    float: left;
    margin-left: 2px;
    margin-right: 20px;
    color: black; }

.browse {
  margin: 15px 0;
  margin-left: 30px;
  color: #9dddee; }
  .browse p {
    margin: 5px 0; }
  .browse a {
    margin-left: 10px;
    color: #4a4f54; }
    .browse a:hover {
      color: #9dddee; }

.sponsor {
  color: #4a4f54; }
  .sponsor a {
    color: #9dddee; }
    .sponsor a:hover {
      color: #9ca1a7; }

.grid {
  overflow: hidden;
  width: 642px;
  margin-top: 11px;
  margin-left: -1px;
  width: 726px;
  margin-left: -43px; }
  .grid img {
    display: block;
    width: 100%;
    height: auto; }
  .grid .box {
    float: left;
    width: 240px;
    margin: 1px; }
    .grid .box h4, .grid .box p {
      color: #4a4f54;
      margin-left: 43px; }
    .grid .box h4 {
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 8px;
      color: white; }
    .grid .box p {
      margin-bottom: 5px; }
    .grid .box a img {
      transition: opacity 0.2s; }
    .grid .box a img:hover {
      opacity: 0.4; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media (max-width: 640px) {
  .content {
    width: 90%; }

  #icon {
    display: none; }

  .archive .date {
    display: none; }
  .archive li a {
    white-space: nowrap; }

  .share {
    display: none; }

  .browse {
    margin-left: 0; }

  .grid {
    margin-left: -5.55%;
    width: 111.11%; }
    .grid .box {
      width: 100%;
      margin: 0;
      margin-bottom: 2px; }
      .grid .box p {
        margin-bottom: 5px; }

  h2, .meta {
    margin-left: 0; }

  h2 i {
    margin-right: 0; }

  .archive ol {
    margin-left: 0;
    margin-right: 0; }
  .archive b, .archive i {
    display: none; }

  .post p {
    margin: 0; }
  .post h4 {
    text-indent: 0; }
  .post ol, .post ul {
    margin-left: 30px; }

  .menu ul {
    margin-left: 15px; }
    .menu ul li {
      margin-right: 15px; }

  .post img {
    width: 100%;
    margin: 0; }

  .meta span {
    display: none; }
    .meta span:first-child, .meta span:last-child {
      display: inline; } }
