@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);

* { margin: 0; padding: 0; }
a { text-decoration: none; color: #333; transition: color 0.2s; }

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    }

.content {
    width: 500px;
    margin: 0 auto;
    }

.menu {
    font-size: 14px;
    line-height: 30px;
    margin-top: 15px;
    }
    .menu ul {
        list-style: none;
        }
        .menu ul li {
            display: inline;
            margin-right: 20px;
            }
            .menu ul li a {
                color: #888;
                padding-bottom: 7px;
                }
            .menu ul li a:hover {
                color: #bbb;
                }
            .menu ul li.selected a {
                color: #00b290;
                }
        .menu ul li.selected a {
            border-bottom: rgb(95,100,100) 7px solid;
            }

.header {
    background-color: #949696;
    background-color: rgb(130,133,133);
    color: #fff;
    padding-top: 25px;
    }
    .header h1 {
        font-weight: 300;
        font-size: 45px;
        line-height: 75px;
        letter-spacing: -1px;
        white-space: nowrap;
        overflow: hidden;
        }

.subheader {
    background-color: rgb(95,100,105);
    color: rgb(220,225,230);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    }

.footer {
    margin-bottom: 25px;
    text-align: center;
    }

.category {
    overflow: hidden;
    }
    .category a {
        display: block;
        color: rgb(220,225,230);
        padding: 0 10px;
        float: left;
        border-left: rgb(65,70,75) 1px solid;
        border-right: rgb(65,70,75) 1px solid;
        }
        .category a:hover {
            background-color: rgb(65,70,75);
            }
    .category a.selected {
        background-color: rgb(65,70,75);
        color: #00b290;
        }

.main {
    }
    .main h2 {
        font-weight: normal;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -1px;
        color: #888;
        }
        .main h2 a {
            color: #444;
            }
        .main h2 a:hover {
            color: #888;
            }

    .meta {
        font-size: 11px;
        text-transform: uppercase;
        color: #bbb;
        margin: 5px 0 10px 0;
        letter-spacing: 1px;
        }
        .meta span {
            margin-right: 25px;
            }
        .meta a {
            color: #bbb
            }
        .meta a:hover {
            color: #00b290;
            }

.archive {
    }
    .archive ol {
        font-size: 18px;
        list-style: none;
        }
    .archive li {
        line-height: 36px;
        margin: 0 -15px;
        }
        .archive li a {
            padding: 0 15px;
            display: block;
            }
            .archive li a:hover {
                background-color: #eee;
                }
    .archive .title {
        color: #333 !important;
        }
    .archive .date {
        font-weight: 300;
        text-transform: lowercase;
        float: right;
        }
        .archive .date b {
            font-weight: 300;
            margin-right: 10px;
            color: #00b290 !important;        
            }

.fade {
    opacity: 0.4;
    }

.entry {
    margin: 25px 0;
    }

.post {
    }
    .post p {
        line-height: 21px;
        text-align: justify;
        text-indent: 50px;
        }
        .post p:first-child {
            text-indent: 0;
            }
        .post p img {
            margin: 7px 0;
            display: block;
            }
        .post p sup {
            font-size: 12px;
            line-height: 15px;
            color: #bbb;
            }
    .post ul {
        list-style: square;
        margin-left: 50px;
        }
    .post h4 {
        font-size: 17px;
        line-height: 23px;
        font-weight: normal;
        text-indent: 50px;
        color: #00b290;
        margin-top: 10px;
        margin-bottom: 5px;
        }
    .post blockquote {
        margin-left: 20px;
        border-left: #ddd 1px solid;
        padding-left: 19px;
        margin-top: 10px;
        margin-bottom: 10px;
        }
    .post a {
        color: #333;
        border-bottom: #00b290 2px solid
        }
    .post a:hover {
        color: #00b290;
        }
    .post .info {
        font-style: italic;
        text-indent: 0;
        }
        .post .info .name:after {
            font-style: italic;
            color: #bbb;
            content: " at ";
            }
        .post .info .domain:after {
            font-style: italic;
            color: #bbb;
            content: " dot ";
            }
        .post .info strong {
            font-weight: normal;
            width: 50px;
            display: block;
            float: left;
            color: #bbb;
            text-align: right;
            margin-right: 15px;
            }

.share,
.browse {
    margin: 15px 0;
    margin-left: 50px;
    }
.share,
.sponsor,
.browse {
    color: #888;
    }
.browse a {
    color: #888;
    }
    .browse a:hover {
        color: #00b290;
        }
.share a,
.sponsor a {
    color: #00b290;
    }
    .share a:hover,
    .sponsor a:hover {
        color: #333;
        }

.grid {
    overflow: hidden;
    }
    .grid img {
        display: block;
        width: 100%;
        height: auto;
        }
    .grid .box {
        float: left;
        width: 166px;
        margin-right: 1px;
        margin-bottom: 1px;
        }
        .grid .box:nth-child(3n+0) {
            margin-right: 0;
        }

.section {
    overflow: hidden;
    height: 490px;
    padding-top: 10px;
    transition: all 0.3s ease-in-out
    }
.section.hidden {
    height: 30px;
    transition: all 0.3s ease-in-out
    }

.section h4 {
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    }
    .section h4 strong,
    .section h4 b {
        display: block;
        font-size: 11px;
        line-height: 25px;
        padding: 0 15px;
        font-weight: normal;
        float: left;
        letter-spacing: 1px;
        text-transform: uppercase;
        }
    .section h4 strong {
        background-color: #00b290;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s;
        }
        .section h4 strong:hover {
            background-color: #2ac19e;
            }
    .section.personal h4 strong {
        background-color: #fee300;
        color: #333;
        }
        .section.personal h4 strong:hover {
            background-color: #ebd100;
            }
    .section h4 b {
        color: #bbb;
        }
.section .description,
.section .image {
    margin-bottom: 10px;
    }
    .section .description a {
        border-bottom: #00b290 2px solid;
        }
    .section .description a:hover {
        color: #888;
        }
    .section.personal .description a {
        border-bottom: #fee300 2px solid;
        }
    .section.personal .description a:hover {
        color: #888;
        }
.section .image img {
    display: block;
    }

.sign {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    }

.sign:hover .plus {
    background-color: #bbb;
    }

.plus {
    background-color: #888;
    display: block;
    width: 16px;
    height: 16px;
    position: relative;
    transition: background-color 0.2s;
    }
    .plus b {
        display: none;
        }
    .plus:before {
        background-color: #fff;
        content: " ";
        width: 8px;
        height: 2px;
        position: absolute;
        top: 7px;
        left: 4px;
        }
    .plus:after {
        background-color: #fff;
        content: " ";
        width: 2px;
        height: 8px;
        position: absolute;
        top: 4px;
        left: 7px;
        }

@media (max-width: 555px) {
    .content {
        width: 90%;
        }
    .menu ul li.work,
    .menu ul li.gallery {
        display: none;
        }
    .post p img {
        width: 100%;
        height: auto;
        }
    .archive .date {
        display: none;
        }
    .archive li a {
        white-space: nowrap;
        }
    }