<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
    -->
    <meta name="description" content="The designer Google can't afford and Apple won't hire." />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% if page.permalink == "/peculiar/" %}
        <link rel="stylesheet" href="/static/peculiar.css">
    {% endif %}
</head>
<body>

<div class="menu">
    <div class="content">
        <ul>
            <li class="journal {% if page.section == "journal" %}selected{% endif %}">
                <a href="/">Journal</a>
            </li>
            <li class="archive {% if page.section == None or page.section == "archive" or page.section == "category" %}selected{% endif %}">
                <a href="/archive/">Archive</a>
            </li>
            <li class="work {% if page.section == "work" %}selected{% endif %}">
                <a href="/work/">Work</a>
            </li>
            <li class="project {% if page.section == "projects" %}selected{% endif %}">
                <a href="/projects/">Projects</a>
            </li>
            <li class="grid {% if page.section == "grid" %}selected{% endif %}">
                <a href="/grid/">Grid</a>
            </li>
            <li class="about {% if page.section == "about" %}selected{% endif %}">
                <a href="/about/">About</a>
            </li>
        </ul>
    </div>
</div>

<div class="header">
    <div class="content">
        <h1 class="title">
            {% if page.subtitle %}
                {{ page.subtitle }}
            {% else %}
                Archive
            {% endif %}
        </h1>
    </div>
</div>

<div class="main">
    <div class="content">
        {{ content }}
    </div>
</div>

<div class="footer">
    <div class="content">
        {% if paginator.page == 1 and page.section == "journal" %}
            <p class="sponsor">Sponsored by <a href="http://www.kledinginsider.nl/">Kleding</a></p>
        {% else %}
            <a href="/" class="sign">
                <span class="plus"><b>Lucian Marin</b></span>
            </a>
        {% endif %}
    </div>
</div>

</body>
</html>
