<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta name="description" content="Pro designer with a passion for perfection and deep aesthetics." />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/static/future.css" />
    <link rel="apple-touch-icon" href="/static/touch.png" />
    {% if page.permalink == "/peculiar/" %}
        <link rel="stylesheet" href="/static/peculiar.css" />
    {% endif %}
    {% if page.syntax == true %}
        <link rel="stylesheet" href="/static/code.css" />
    {% endif %}
    {% include analytics.html %}
</head>

<body>

<div class="menu">
    <div class="content">
        <a href="/" class="logo">
            {% include svg-logo.html %}
        </a>
        <ul>
            <li class="archive {% if page.section == None or page.section == "archive" or page.section == "category" %}selected{% endif %}">
                <a href="/archive/">Archive</a>
            </li>
            <li class="work {% if page.section == "work" or page.section == "projects" %}selected{% endif %}">
                <a href="/work/">Work</a>
            </li>
            <li class="gallery {% if page.section == "gallery" %}selected{% endif %}">
                <a href="/photo/">Photo</a>
            </li>
            <li class="about {% if page.section == "about" %}selected{% endif %}">
                <a href="/about/">About</a>
            </li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="content">
        {% if page.subtitle %}
            <h1 class="title">{{ page.subtitle }}</h1>
        {% endif %}
        {{ content }}
    </div>
</div>

<div class="footer">
    <div class="content">
        {% if page.section == "journal" %}
            <p class="sponsor">Sponsored by <a href="http://www.kledinginsider.nl/">Kleding</a></p>
        {% elsif page.section == "projects" %}
            <p class="sponsor">Sponsored by <a href="http://www.qdp.com/">QDP</a></p>
        {% elsif page.section == "gallery" %}
            <p class="sponsor">Sponsored by <a href="http://www.shops2b.co.uk/">Shops2b</a></p>
        {% elsif page.section != "error" %}
            <!--{% include social.html %} -->
            <p>Subcribe to <a href="/rss.xml">RSS feed</a></p>
        {% endif %}
    </div>
</div>

</body>
</html>
