---
layout: default
---

<div class="entry" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 itemprop="name">
        <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
    <div class="meta">
        <span itemprop="datePublished">{{ page.date | date: "%e %b %Y" }}</span>
        <span>{{ page.date | date: "%H:%M" }}</span>
        <span>
            <a href="/category/{{ page.category }}.html" itemprop="articleSection">
                {{ page.category | replace: '-', ' ' | capitalize }}
            </a>
        </span>
    </div>
    <div class="post full" itemprop="articleBody">
        {{ content }}
    </div>
    <div class="share">
        <p>I'm also writing on +<a href="http://markdawn.com/lucianmarin/">lucianmarin</a> &mdash; thank you!</p>
    </div>
    <div class="browse">
        {% if page.previous.url %}
            <p>
                &larr; &nbsp;
                <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
            </p>
        {% endif %}
        {% if page.next.url %}
            <p>
                &rarr; &nbsp;
                <a href="{{ page.next.url }}">{{ page.next.title }}</a>
            </p>
        {% endif %}
    </div>
</div>
