---
layout: default
---

<h1 class="title">{{ page.title }}</h1>

<div class="meta">
    <div class="icon">
        &nbsp;
    </div>
    <div class="time">
        <h4>Published</h4>
        <p><a href="{{ page.url }}">{{ page.date | date: "%e %B %Y" }}</a></p>
    </div>
    <div class="topic">
        <h4>Topic</h4>
        <p><a href="/archive/topics.html">{{ page.category | replace: '-', ' ' }}</a></p>
    </div>
</div>

<div class="post single">
    {{ content }}
</div>

<ul class="archive browse">
    {% if page.previous.url %}
        <li>
            <b>Previously</b>
            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        </li>
    {% endif %}
    {% if page.next.url %}
        <li>
            <b>Up next</b>
            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
        </li>
    {% endif %}
</ul>
